@model IEnumerable<BlogMvcProject.Models.Portfolio>
<!--===============
 Portfolio Page
 ================-->


<div class="portfolio-page">

    <!--( a ) Portfolio Page Fixed Image Portion -->

    <div class="image-container col-md-5 col-sm-12">
        <div class="mask">
        </div>
        <div class="main-heading">
            <h1>POR<span>T</span>FOLIO</h1>
        </div>
    </div>

    <!--( b ) Portfolio Page Content -->

    <div class="content-container col-md-7 col-sm-12">

        <!--( A ) Portfolio -->

        <div class="portfolio">
            <h2 class="small-heading">PORTFOLIO</h2>
            <div class="project-container">

                <div class="project-controls">
                    @{Html.RenderAction("_ProjectTypes", "Home"); }
                </div>
                <!-- Portfolio Control Buttons [ END ] -->

                <div class="projet-items clearfix" id="projects">

                    <!-- Portfolio Image -->
            @foreach (var item in Model)
            {

                         <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 filtr-item" data-category="@item.TypeID">
                                    <div class="project">
                                        <img src="@item.ImagePath" alt="Image is not found"  onerror="standby()">
                                        <div class="ovrly">
                                        </div>
                                        <div class="buttons">
                                            <a href="@item.LinkofImage" class="fa fa-link"></a>
                                            <a href="#portfolio-@item.ID" class="fa fa-search show-popup"></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Popup Content -->

                                <div class="pop-up-box" id="portfolio-@item.ID">
                                    <img alt="" src="@item.ImagePath" class=" hidden-xs">
                                    <div class="popup-content">
                                        <h3>@item.ProjectName</h3>
                                        <p>
                                   @item.Description
                                        </p>
                                        <a href="@item.LinkofImage">PREVIEW</a>
                                    </div>
                                </div>

                                <!-- Single Portfolio Item [ END ] -->

            }

                </div>
            </div>
        </div>

        <!--( B ) Testimonials Section -->

        @{Html.RenderAction("_Client", "Home"); }
        <!--( C ) Some Facts -->

 

        <!-- Footer -->
        @Html.Partial("_Footer", Model)
    </div>
</div>

