@model BlogMvcProject.Models.User
@{
    ViewBag.Title = "AdminUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Menu {
    @Scripts.Render("~/Scripts/Forms/Editors/menu")
}
@Styles.Render("~/AdminLTE/plugins/bootstrap-wysihtml5/css")
<div class="alert alert-success alert-dismissible" id="divsuccess" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-check"></i>Admin Alert</h4>
    Your Admin is updated.
</div>
<div class="alert alert-danger alert-dismissible" id="diverror" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-ban"></i>Profile Alert</h4>
    Your Admin isn't updated.
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">
                    Admin
                    <small>Admin Text Update</small>
                </h3>
                <div class="pull-right box-tools">
                    <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body pad">

                @using (Ajax.BeginForm("AdminUser", "Admin", FormMethod.Post, new AjaxOptions { OnSuccess = "successUser" }, new { id = "formUser" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter name " })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>

                    <br />

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", placeholder = "Enter name " })
                        @Html.ValidationMessageFor(m => m.Surname)
                    </div>

                    <br />

                 

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-image"></i></span>
                        @Html.TextBoxFor(m => m.ImagePath, new { @class = "form-control", placeholder = "Enter name " })
                        @Html.ValidationMessageFor(m => m.ImagePath)
                    </div>

                    <br />


                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-bookmark"></i></span>
                        @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control", placeholder = "Enter name " })
                        @Html.ValidationMessageFor(m => m.JobTitle)
                    </div>

                    <br />


                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                        @Html.TextBoxFor(m => m.FaceAccount, new { @class = "form-control", placeholder = "Enter name " })
                        @Html.ValidationMessageFor(m => m.FaceAccount)
                    </div>

                    <br />


                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                        @Html.TextBoxFor(m => m.TwitterAccount, new { @class = "form-control", placeholder = "Enter name " })
                        @Html.ValidationMessageFor(m => m.TwitterAccount)
                    </div>

                    <br />


                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-linkedin"></i></span>
                        @Html.TextBoxFor(m => m.LinkedinAccount, new { @class = "form-control", placeholder = "Enter name " })
                        @Html.ValidationMessageFor(m => m.LinkedinAccount)
                    </div>

                    <br />


                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-instagram"></i></span>
                        @Html.TextBoxFor(m => m.InstagramAccount, new { @class = "form-control", placeholder = "Enter name " })
                        @Html.ValidationMessageFor(m => m.InstagramAccount)
                    </div>

                    <br />


                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
                        @Html.TextBoxFor(m => m.GoogleAccount, new { @class = "form-control", placeholder = "Enter name " })
                        @Html.ValidationMessageFor(m => m.GoogleAccount)
                    </div>

                    <br />


                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-mail-reply"></i></span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter name " })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>

                    <br />


                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Enter name " })
                        @Html.ValidationMessageFor(m => m.Phone)
                    </div>

                    <br />

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-book"></i></span>
                        @Html.TextBoxFor(m => m.ResumePath, new { @class = "form-control", placeholder = "Enter name " })
                        @Html.ValidationMessageFor(m => m.ResumePath)
                    </div>

                    <br />

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                        @Html.TextBoxFor(m => m.Location, new { @class = "form-control", placeholder = "Enter name " })
                        @Html.ValidationMessageFor(m => m.Location)
                    </div>

                    <br />
                    <div class="pull-right box-tools">
                        @*<input class="btn btn-default btn-sm" style="background-color:#00B6F9" data-widget="remove" type="submit" value="UPDATE" />*@
                        <button type="submit" class="btn btn-info btn-sm" data-toggle="tooltip" title="Update">
                            <i class="fa fa-check-square-o"></i>Update
                        </button>

                    </div>
                }

            </div>
        </div>

      
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/ckeditor/js")
    @Scripts.Render("~/AdminLTE/plugins/bootstrap-wysihtml5/js")
    @Scripts.Render("~/Scripts/Forms/Editors")
}


@section scriptsAlert{

    <script type="text/javascript">
        function successUser(result) {
            if (result.IsSuccess == true ) {

                $("#divsuccess").show();
            } else {
                $("#diverror ").show();
            }
        }
   
    </script>

}
