@model BlogMvcProject.Models.Experience
@{
    ViewBag.Title = "ExperienceListEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Menu {
    @Scripts.Render("~/Scripts/Forms/Editors/menu")
}
@Styles.Render("~/AdminLTE/plugins/bootstrap-wysihtml5/css")
<div class="alert alert-success alert-dismissible" id="divsuccess" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-check"></i>Resume Alert</h4>
    Your resume is updated.
</div>
<div class="alert alert-danger alert-dismissible" id="diverror" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-ban"></i>Resume Alert</h4>
    Your resume isn't updated.
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">
                    Resume
                    <small>Experience Text Update</small>
                </h3>
                <div class="pull-right box-tools">
                    <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body pad">
                @using (Ajax.BeginForm("ExperienceListEdit", "Admin", FormMethod.Post, new AjaxOptions { OnSuccess = "successExperience" }, new { id = "formExperience" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-check-square-o"></i></span>
                        @Html.TextBoxFor(m => m.TitleofJob, new { @class = "form-control", placeholder = "Enter name of school" })
                        @Html.ValidationMessageFor(m => m.TitleofJob)
                    </div>

                    <br />

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-check-square-o"></i></span>
                        @Html.TextBoxFor(m => m.Company, new { @class = "form-control", placeholder = "Enter name of school" })
                        @Html.ValidationMessageFor(m => m.Company)
                    </div>

                    <br />

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-check-square-o"></i></span>
                        @Html.EditorFor(m => m.StartDate, new { @class = "form-control", placeholder = "Enter start date" })
                        @Html.ValidationMessageFor(model => model.StartDate)
                    </div>

                    <br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-check-square-o"></i></span>
                        @Html.EditorFor(m => m.EndDate, new { @class = "form-control", placeholder = "Enter end date" })
                        @Html.ValidationMessageFor(m => m.EndDate)
                    </div>

                    <br />
                    <div class="input-group">

                        Is Active?
                        <br />
                        @Html.EditorFor(model => model.IsActive, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IsActive)
                    </div>

                        <br />

                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Enter description ", rows = "10", cols = "180" })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>

                        <br />
                        <div class="pull-right box-tools">
                            @*<input class="btn btn-default btn-sm" style="background-color:#00B6F9" data-widget="remove" type="submit" value="UPDATE" />*@
                            <button type="submit" class="btn btn-info btn-sm" data-toggle="tooltip" title="Save">
                                <i class="fa fa-check-square-o"></i>Save
                            </button>
                        </div>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/ckeditor/js")
    @Scripts.Render("~/AdminLTE/plugins/bootstrap-wysihtml5/js")
    @Scripts.Render("~/Scripts/Forms/Editors")
    @Scripts.Render("~/Scripts/date")
    @Styles.Render("~/Content/date")


}


@section scriptsAlert{

    <script type="text/javascript">
        function successExperience(result) {
            if (result.IsSuccess == true) {

                $("#divsuccess").show();
            } else {
                $("#diverror ").show();
            }
        }


    </script>
}



